.navbar-inverse{
    border-radius: 0px;
    margin-bottom: 100px;
}

#foodList{
	width: 30%;
}

.buttons{
	display:flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}


body{
	font-family: 'Raleway', sans-serif;
}

