.h3{
	font-family: 'Roboto', sans-serif;
}

.navbar-inverse{
    border-radius: 0px;
    margin-bottom: 100px;
}

body{
	font-family: 'Raleway', sans-serif;
	background:#eee;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin-bottom: 10vh;
}
#listContainer{
	width: 40%;
	height: 40px;
}